@import "./functions";
@import "./variables";


@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
  
@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)){
      @content;
  }
}