.filter{
  width: 60%;
  margin-top: toRem(30);
  margin-left: toRem(20);
  border-radius: 8px;
  overflow: hidden;
  @include themed{
    background-color: t($element);
  }

  @include desktop-only{
    margin-top: 0px;
    position: relative;
    right: 0px;
  }
  select{
    border: 0;
    width: 80%;
    padding: toRem(15) toRem(10);
    @include themed{
      background-color: t($element);
      color: t($text);
    }
  }
   
}