.card {
  border: 0;
  margin: toRem(16) 0;
  width: 80%;

  @include themed{
    background: t($element);
  }

  @include desktop-only{
    margin-top: toRem(16);
    margin-right: toRem(56);
    margin-bottom: toRem(16);
    width: 20%;
  }

  .heading {
    font-weight: 600;
  }
  
}