@import "~bootstrap/scss/bootstrap";
@import "./base/base";

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./layout/header";
@import "./layout/search";
@import "./layout/filter";
@import "./layout/single-card-country";
@import "./layout/country-grid";
@import "./layout/country-info";

@import "./components/filter-search-row";
@import "./components/loading";


.app{
  min-height: 100vh;
  transition: background-color 1000ms ease-in;
  transition: color 500ms 100ms ease;

  @include themed{
    background-color: t($bg);
    color: t($text);
  }
}

