@import "~bootstrap/scss/bootstrap";
@import "./base/base";

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./layout/header";
@import "./layout/search";
@import "./layout/filter";
@import "./layout/single-card-country";

@import "./components/filter-search-row";


.app{
  transition: background-color 1000ms ease-in;
  transition: color 500ms 100ms ease;

  @include themed{
    background-color: t($bg);
    color: t($text);
  }
}

.row{
  --bs-gutter-x: 0;
}